#views_layout {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#view_selector_body {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    width: 100%;

    padding: 8px;

    border-bottom: solid rgb(233, 236, 239) 1px;;
}

#view_selector_SQL {
    width: 80%;
}

#view_selector_SQL_viewer {
    width: 100%;
}

#view_selector_SQL_viewer > * {
    overflow: hidden !important;
}

#view_selector_SQL_viewer .mantine-ScrollArea-scrollbar {
    display: none;
}

#view_body {
    display: flex;
    flex-direction: column;
    padding: 10px 36px;
}

#view_body_table {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}